# Пример zz_profile.conf для medium (compose 1 GiB).
# Пишет start.sh / tune-resources.sh (detect_resources.sh).
@define fifo_size 50000
@define disk_buf 1073741824
@define udp_rcvbuf 67108864
@define tcp_rcvbuf 16777216
@define iw_size 4000
@define tcp_iw_size 6400
@define tcp_max_conn 64
